.about__title .title {
    max-width: 700px;
    margin: 0 auto;
}
.about__title .title p {
    font-size: 1.2rem;
    line-height: 28px;
    color: #696969;
}
.about__title .title a {
    text-decoration: none;
}
.about__title .title a:hover {
    color: #189a46;
}
@media screen and (max-width:1080px){
    .about__title h3{
        font-size: 35px;
        line-height: 40px;
    }

}
@media screen and (max-width:600px){
    .about__title h3{
        font-size: 32px;
        line-height: 38px;
    }
}