.about__title .title {
    max-width: 700px;
    margin: 0 auto;
}
.about__title .title p {
    font-size: 1.2rem;
    line-height: 28px;
    color: var(--font-color);
}
.about__title .title a {
    text-decoration: none;
}
.about__title .title a:hover {
    color: var( --primary-color);
}
@media screen and (max-width:1080px){
    .about__title h3{
        font-size: 35px;
        line-height: 40px;
    }

}
@media screen and (max-width:600px){
    .about__title h3{
        font-size: 32px;
        line-height: 38px;
    }
}

/* DarkTheme */
.dark .about{
    background-color: var(--bg-color-15);
}

.dark .about__title .title p{
    color: var(--font-color-dark);
}
.dark #features .features__box p{
    color: var(--font-color-dark);
}