.backtotop {
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
    background: var(--primary-color);
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s ease-out;
}
.backtotop i {
    color: #fff;
    font-size: 0.8rem;
}
.backtotop:hover {
    transform: translate3d(0, -5px, 0);
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
