#features{
    background-color: #936be80d;
}
#features .features__col{
    margin-bottom: 30px;
}
#features .features__box{
    padding: 40px 30px;
    transition: all .5s;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
#features .features__box i{
    color: var(--primary-color);
    font-size: 1.875rem;
}
#features .features__box h4 a{
    font-size: 24px;
    font-size: 600;
    margin: 25px 0 15px 0;
    color: var(--heading-color);
    display: block;
    transition: all .5s;
}
#features .features__box h4:hover a{
    color: var(--primary-color);
}
#features .features__box:hover{
    background-color: #936be80d;
}
#features .features__box p{
    font-size: 1.2rem;
    line-height: 28px;
    color: var(--font-color);
    
}
#features .features__box a.read:hover{
    color: var(--primary-color);
}
#features a{
    text-decoration: none;
}
/* DarkTheme */
.dark #features{
    background-color: var(--bg-color-222);
}
.dark #features .features__box{
    background-color: var(--bg-color-15);
}
.dark #features .features__box h4 a{
    color: var(--heading-color-white);
}
.dark #features .features__box:hover{
    background-color: var(--bg-color-222);
}