* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: #404040;
}
.title {
    text-align: center;
}
.title h6 {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.title h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: #000c04;
}
.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    transition: all 0.3s;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    color: #000c04;
    font-weight: 600;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
@media screen and (max-width:1080px){
    .title h3{
        font-size: 35px;
        line-height: 40px;
    }

}
@media screen and (max-width:600px){
    .title h3{
        font-size: 32px;
        line-height: 38px;
    }
}
/* DarkTheme */
.dark .title h3{
    color: white;
}
.dark .read{
    color: #ddd;
}