#services .services__content img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#services .services__text{
    align-self: center;
}
#services .services__title .title{
    text-align: left;
}
#services .services__title p{
    margin: 15px 0 35px 0;
    line-height: 24.5px;
    color: var(--font-color);
}
#services .services__title li{
    color: var(--heading-color);
    margin: 15px 0;
    font-weight: 600;
    line-height: 26px;
}
#services .services__title i{
    color: var(--primary-color);
    background-color: #936be80d;
    padding: 8px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
}
@media screen and (max-width:991px){
    #services .services__content img{
        width: 100%;
    }
}
@media (max-width: 800px){
    #plan .plan__col {
    border: 1px solid #444;
}
}
/* DarkTheme */
.dark #services{
    background-color: #151515;
}
.dark #services .services__title li{
    color: var(--heading-color-white);
}
.dark #services .services__title i{
    background-color: var(--bg-color-222);
}