.update {
    padding: 7rem 0;
}
.update .update__container {
    max-width: 650px;
    margin: 0 auto;
}
.update__title {
    text-align: center;
}
.update__title h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}
.update__title p {
    font-size: 1.125rem;
    margin: 1rem 0;
    color: #666;
}
/* .update form {
    display: flex;
    justify-content: space-evenly;
} */
.update form {
    margin-top: 3rem;
    margin-left: 1rem;
}
.update .form-control {
    display: inline;
    width: 67%;
    height: 60px;
    border-radius: 10px;
}
.update .form-control:focus {
    border: 1px solid var(--primary-color);
    box-shadow: none;
}
.update form button {
    width: 27%;
    font-size: 1.125rem;
    margin-left: 0.8rem;
    height: 60px;
    background: var(--primary-color);
    border: var(--primary-color);
    border-radius: 10px;
    transition: all 0.5s;
}
.update form button:hover {
    background: #116E32;
    border: #116E32;
}
/* DarkTheme */
.dark .update {
    background: var(--bg-color-15);
}
.dark .update__title h3 {
    color: var(--heading-color-white);
}
.dark .update__title p {
    color: var(--font-color-dark);
}
/* Responsive Update */
@media screen and (max-width: 1080px) {
    .update__title h3 {
        font-size: 2.1875rem;
        line-height: 2.5rem;
    }
}
@media screen and (max-width: 767px) {
    .update .form-control {
        width: 97%;
    }
    .update form button {
        margin-left: 36%;
    }
}
@media screen and (max-width: 667px) {
    .update .form-control {
        width: 100%;
        margin-left: -7px;
    }
    .update form button {
        width: 100%;
        margin-left: -7px;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .update__title h3 {
        font-size: 2rem;
        line-height: 2.375rem;
    }
}
@media screen and (max-width: 378px) {
    .update__title h3 {
        font-size: 1.6875rem;
        line-height: 2rem;
    }
}
