:root{
    --bg-color-15: #151515;
    --bg-color-white: #fff;
    --primary-color: #189a46;
    --secondary: #f53626;
    --heading-color: #000c04;
    --heading-color-white: #fff;
    --font-color: #696969;
    --font-color-dark: #afafaf;
    --bg-color-222: #222;
}